@if (authService.currentUserSig() === null) {
<div class="container text-center my-2">
  <a
    class="icon-link link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover mx-3"
  routerLink="/login"
  >
    <i class="bi bi-box-arrow-in-right"></i>
    login
  </a>
  <a
    class="icon-link link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
    routerLink="/register"
  >
    <i class="bi bi-pencil-square"></i>
    Register
  </a>
</div>
}

<app-sidebar
  [isSidebarCollapsed]="isSidebarCollapsed()"
  (changeIsSideBarCollapsed)="changeIsSidebarCollapsed($event)"
/>
<app-main
  [isSidebarCollapsed]="isSidebarCollapsed()"
  [screenWidth]="screenWidth()"
/>
