

<div class="login-register">
    <div class="container">
      <h1>Register</h1>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="username"
                  formControlName="username"
                />
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                formControlName="password"
              />
            </div>
  
            <div class="d-grid mt-5">
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  